$frame-width : 480px;
$frame-height : 480px;

$font-size:18px;

$panel-width: 150px;

$layout-thumbnail-width : 90px;
$layout-thumbnail-height : 90px;

$filter-thumbnail-width : 90px;
$filter-thumbnail-height : 90px;

$branding-color: #60666e;

$welcome-modal-width: 620px;
$welcome-modal-height: 400px;

$toolbar-height: 44px;
$toolbar-width: 480px;

$welcome-text-size: 28px;

$button-width: 150px;
$button-height: 40px;

