<div class="scene expanded unfixed">

    <div class="header-logo"></div>

    <div class="scene-body">
        <div class="frame-container">
            <img class="collage hidden" src="{{ imageUrl }}" width="480" height="480">
        </div>
    </div>

    <div class="scene-footer">
        <div class="sharing-container">
            
            <div class="sharing-block">
                <input class="share-url" type="text" value="{{ collageUrl }}">
                <a target="_blank" href="{{facebookShareUrl}}"><div class="share facebook" title="Share on Facebook"></div></a>
                <a target="_blank" href="{{twitterShareUrl}}"><div class="share twitter" title="Share on Twitter"></div></a>
            </div>

            <div class="retry-or-save">
                <button class="button black start-new">Make a collage</button>
                <button class="button blue light-border save">Save to the Cloud</button>
            </div>
        </div>
    </div>

</div>