<div class="panel"></div>

<ul class="icons-container">
    <li><a class="share facebook" href="#"></a></li>
    <li><a class="share twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Ffpcollage.heroku.com&text=Build%20collages%20of%20your%20photos"></a></li>
    <li><a class="share github" href="https://github.com/Filepicker/collage" title="View source on github"></a></li>
</ul>


<div class="scene">
    <div class="help-layout hidden"></div>
    <div class="toolbar-container"></div>
    <div class="frame-container"></div>
    <div class="making-collage hidden">Making your collage...</div>
    <div class="collage-holder"></div>
    <div class="actions-container hidden">
        <button class="button blue light-border update-collage">Publish</button>
    </div>
</div>

